data.tar.gz0 filter=lfs diff=lfs merge=lfs -text
data.tar.gz1 filter=lfs diff=lfs merge=lfs -text
data.tar.gz2 filter=lfs diff=lfs merge=lfs -text
train.new.v2 filter=lfs diff=lfs merge=lfs -text
answer_sentence.pkl filter=lfs diff=lfs merge=lfs -text
candidates.ann filter=lfs diff=lfs merge=lfs -text
